@use '../abstracts' as *;

.submit-btn {
    background-color: $primary-orange;
    width: 100%;
    border: none;
    color: $neutral-white;
    font-weight: $fw-secondary;
    border-radius: 5rem;
    padding: 0.7rem;
    margin-top: 1.3rem;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;

    &:hover {
        background-color: $neutral-white;
        color: $primary-orange;
        transition: all 300ms linear; 
    }
    
    &:active {
        transform: scale(0.95);
    }
    
}

@media (min-width: $layout-breakpoint-desktop) {
    .submit-btn {
        margin-top: 1.8rem;
        padding: 0.65rem;
    }
}