//COLORS

$primary-orange: hsl(25, 97%, 53%);
$neutral-white: hsl(0, 0%, 100%);
$neutral-light-grey: hsl(217, 12%, 63%);
$neutral-medium-grey: hsl(216, 12%, 54%);
$neutral-dark-blue: hsl(213, 19%, 18%);
$neutral-darker-blue: hsl(216, 12%, 8%);
$clr-link-outline: hsl(0, 0%, 100%);

//TYPOGRAPHY

$fs-body: 0.875rem;
$ff-primary: 'Overpass', sans-serif;
$fw-primary: 400;
$fw-secondary: 700;

//BREAKPOINTS

$layout-breakpoint-desktop: 62em;