html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-size: 0.875rem;
  font-family: "Overpass", sans-serif;
  color: hsl(0deg, 0%, 100%);
}
body .card__text {
  color: hsl(217deg, 12%, 63%);
  margin-top: 0.48rem;
}
body .card__title {
  font-size: 1.5rem;
  margin-top: 0.9rem;
}

@media (min-width: 62em) {
  body {
    font-size: 0.9375rem;
  }
  body .card__title {
    font-size: 1.7rem;
    margin-top: 1.8rem;
  }
  body .card__text {
    margin-top: 0.35rem;
  }
  body span {
    font-size: 0.9375rem;
  }
}
.card {
  background: linear-gradient(hsl(213deg, 19%, 18%), hsl(215deg, 20%, 12%));
  margin: 0 1.5rem;
  padding: 1.5rem 1.5rem 2rem;
  border-radius: 1rem;
  max-width: 25.75rem;
}
.card__logo-container {
  width: 40px;
  height: 40px;
  padding: 0.8rem;
  background-color: rgb(52, 59, 66);
  border-radius: 50%;
}
.card__second-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0.75rem 0.2rem;
}
.card__second-state .card__rating {
  color: hsl(25deg, 97%, 53%);
  background-color: rgb(52, 59, 66);
  border-radius: 1rem;
  padding: 0.25rem 1.25rem;
  margin-top: 2rem;
}
.card .hide {
  display: none;
}

@media (min-width: 62em) {
  .card {
    padding: 2rem;
    border-radius: 1.7rem;
  }
  .card__logo-container {
    width: 48px;
    height: 48px;
    display: grid;
    justify-content: center;
    align-content: center;
  }
}
.submit-btn {
  background-color: hsl(25deg, 97%, 53%);
  width: 100%;
  border: none;
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
  border-radius: 5rem;
  padding: 0.7rem;
  margin-top: 1.3rem;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}
.submit-btn:hover {
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(25deg, 97%, 53%);
  transition: all 300ms linear;
}
.submit-btn:active {
  transform: scale(0.95);
}

@media (min-width: 62em) {
  .submit-btn {
    margin-top: 1.8rem;
    padding: 0.65rem;
  }
}
[type=radio]:checked,
[type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
  width: 0;
  height: 0;
  visibility: hidden;
}

.ratings {
  display: flex;
  justify-content: space-between;
  margin-top: 1.6rem;
  margin-bottom: 0.2rem;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.ratings .ratings__value {
  flex: 50%;
}
.ratings .ratings__value:checked + label,
.ratings .ratings__value:not(:checked) + label {
  height: 42px;
  width: 42px;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  transition: all 300ms linear;
}
.ratings .ratings__value:checked + label {
  color: hsl(0deg, 0%, 100%);
}
.ratings .ratings__value:not(:checked) + label {
  color: hsl(216deg, 12%, 54%);
}
.ratings .ratings__value:checked + label:hover,
.ratings .ratings__value:not(:checked) + label:hover {
  background-color: hsl(25deg, 97%, 53%);
  color: hsl(0deg, 0%, 100%);
}
.ratings .ratings__value:not(:checked) + label {
  background-color: rgb(52, 59, 66);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.7);
}
.ratings .ratings__value:checked + label {
  background-color: hsl(216deg, 12%, 54%);
  box-shadow: 0 8px 10px 0 rgb(0, 0, 0);
}
.ratings .ratings__value:not(:checked) + label:hover {
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.7);
}
.ratings .for-ratings__value {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ratings .for-ratings__value span {
  transform: translateY(10%);
}

@media (min-width: 62em) {
  .ratings__value:checked + label,
.ratings__value:not(:checked) + label {
    height: 51px !important;
    width: 51px !important;
  }
}
body {
  display: grid;
  align-content: center;
  background: hsl(216deg, 12%, 8%);
}
body main {
  justify-self: center;
}

.footer {
  position: sticky;
  top: 100vh;
  width: 100%;
  padding: 1rem;
  border-top: solid 1px #cacacd;
  text-align: center;
  background: hsl(213deg, 19%, 18%);
  color: hsl(0deg, 0%, 100%);
}
.footer__link {
  color: yellow;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  display: inline-block;
}
.footer__link:hover {
  color: yellowgreen;
}
.footer__link::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: yellowgreen;
  left: 0;
  bottom: 0;
}
.footer__link:hover::after {
  width: 100%;
  transition: 0.5s ease-in-out;
}
.footer__link:focus-visible, .footer__link:focus {
  outline-offset: 0.0625rem;
  outline: 0.15rem dotted hsl(0deg, 0%, 100%);
}

/*# sourceMappingURL=style.css.map */
